@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Lobster&display=swap');
:root {
  --orange-color: orange;
  --grey: #292929;
  --form-them: #D9D9D9;
  --logo-color: #FF0000;
  --about-bg: white;
  --white-font:white;
  --bg-black:black;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  overflow-x: hidden;
}
::-webkit-scrollbar{
  display: none;
}
.urban-logo{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: var(--bg-black);
  overflow-x:hidden ;
}
/* .Nav-bg{
  background-color: transparent;
} */
.Nav-bg {
  background-image: radial-gradient(center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}
.nav-hover{
  color: white;
}
.nav-hover:hover{
color: grey;
}
.bg-glass{ 
background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9px);
-webkit-backdrop-filter: blur(9px);
}
/* Custom CSS for the Navbar.Toggle button */
.toggle-btn {
  border: none; /* Remove the border */
  outline: none; /* Remove the outline */
}

.toggle-btn:focus {
  border: none; /* Remove the border on focus */
  outline: none; /* Remove the outline on focus */
  box-shadow: none; /* Remove the box shadow (if any) */
}

.about-Pg {
  background-color: var(--grey);
  
  color: var(--about-bg);
  border-top-right-radius: 80px;
  border-top-left-radius: 80px;
  padding-bottom: 80px;
}
.rider-img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;

}
.riderimg-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.About-Paragraph {
  text-align: justify;
}
.About-Paragraph b {
  padding-bottom: 12px;
}
::-webkit-scrollbar {
  display: none;
}
.toggle-btn {
  outline: none;
  border: none;
}
.toggle-btn:focus {
  outline: none;
}
.nav-Item:hover {
  color: var(--logo-color);
}
.GeXApp{
  background-color: var(--grey);
  color: var(--white-font);
  padding-top: 40px;
  padding-bottom: 100px;
}
.App-Logo{
  border-radius: 100%;
  text-align: center;
  max-width: 100%;
  height: auto;
}
.txt-justify{
  /* text-align: justify; */
}
.logo{
  width: 100%;
  height: 50px;
}
.hideLivebtn{
  display: none;
}
.editicon{
   cursor: pointer;
   right: 0;
   

}
.blink{
  animation: blink 3s linear infinite;
  /* padding-top: -10px; */
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }

}
.logo1{
  height: 160px;
}
 .minus-margin{
  margin-top: -10px;
 }
 .minus-margin-xl{
  margin-top: -15px;
 }
 .Footer{
  background-color: var(--grey);
  color: var(--white-font);

 }
 hr{
  height: 5px;
  background-color: white;
 }
 
 @media (max-width: 576px) {
.about-Pg {
  
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}
 }
 .hidden{
  display: none;
 }